<!-- /*  
	Saya Ibnu Adeng Kurnia NIM 2101769 mengerjakan Latihan Praktikum 11
	dalam mata kuliah desain dan pemrograman berorientasi objek C2 2023
	untuk keberkahanNya maka saya tidak melakukan kecurangan seperti yang telah dispesifikasikan. 
	Aamiin.
*/

/*  Design ini disusun dan/atau digunakan hanya untuk lingkungan sendiri.
	Tidak untuk menjadi konsumsi/kepentingan umum.
	Hanya untuk melengkapi tugas DPBO 2023.
*/  -->

<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous" />

  <title>Latihan 12 DPBO 2023</title>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container">
            <a class="navbar-brand" href="index.php">Selamat Datang di Sistem Reservasi Online Puskesmas Cikaro</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            </button>
        </div>
    </nav>

  <br />

  <div class="container">
    <!-- header -->
    <p><center><img width="1100" height="200" src="img/H.png" alt="" class=""></center></p>
    
    <!-- Tabel 1 -->
    <br>
    <div style="display: inline-block; ">
        <div class="d-flex justify-content-between mb-2">
            <h3>TABEL PASIEN</h3>
            <a href='create.php' class='btn btn-primary'>Tambahkan Data</a>
        </div>
      <!-- TABEL1 -->

      <table align="left" border="1" class="table" style="text-align: center;">
        <thead class="thead-dark">
          <tr>
            <th scope="col">No</th>
            <th scope="col">NIK</th>
            <th scope="col">Nama</th>
            <th scope="col">Tempat lahir</th>
            <th scope="col">Tanggal Lahir</th>
            <th scope="col">Jenis Kelamin</th>
            <th scope="col">Surel</th>
            <th scope="col">No.Telepon</th>
            <th scope="col">AKSI</th>
          </tr>
        </thead>
        <tr>

          DATA_TABEL
        </tr>

      </table>

      <br>


    </div>


  </div>

  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
    integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous">
    </script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous">
    </script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous">
    </script>
</body>

<!-- Footer -->
<footer class="art-footer clearfix">
  <br><p><center>Copyright &copy 2023. IBNU ADENG KURNIA. </center></p>
  <p><center>All Rights Reserved.</center></p>
  <center><a rel="license" href="http://creativecommons.org/licenses/by-nc-nd/4.0/"><img alt="Lisensi Creative Commons" style="border-width:0" src="https://i.creativecommons.org/l/by-nc-nd/4.0/88x31.png" /></a></center> <center>Ciptaan disebarluaskan di bawah <a rel="license" href="http://creativecommons.org/licenses/by-nc-nd/4.0/">Lisensi Creative Commons Atribusi-NonKomersial-TanpaTurunan 4.0 Internasional</a></center>.
</footer>

</html>